// custom variable values
$primary: rgb(212, 218, 42);
$light: #c3beae;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #34b7ba,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../workspaces/Bootstrap5/node_modules/bootstrap/scss";
